<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de reserva, confira os detalhes abaixo:</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br />
    <strong>Data/Hora: </strong> {{ date }} <br />
    <br />
    <smal>
        O horário está novamente disponivél para novos agendamentos.
    </smal>
</p>
